.heroPictureSection {
  position: relative;
  background-color: var(--grey);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--z-index-hero-video-overlay);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.heroTitle {
  color: var(--white);
}

.heroDescription {
  color: var(--white);
}

/* About Us Banner */

.aboutUsBannerSection {
  background-color: var(--white);
}

/* About Us Diffrence */

.aboutUsDiffrenceSection {
  background-color: var(--secondaryLight);
}

.aboutUsDiffrenceSection h3 {
  color: var(--secondary);
}

.aboutUsDiffrenceSection p {
  color: var(--black);
}

/* About Us Vision */

.aboutUsVisionSection {
  background-color: var(--white);
}

/* About Us How To */

.aboutUsHowItWorksSection {
  background-color: var(--secondary);
}

.aboutUsHowItWorksSection h4 {
  color: var(--white);
}

/* About Us Why */

.aboutUsWhyChooseUsSection {
  background-color: var(--white);
}

/* About Us Community */

.aboutUsCommunitySection {
  background-color: var(--white);
}

/* About Us Blog Features */

.aboutUsBlogFeaturesSection {
  background-color: var(--primary);
}

/* About Us Partnership */

.aboutUsPartnerhshipSection {
  background-color: var(--white);
}

/* About Us FAQ */

.aboutUsFAQSection {
  background-color: var(--white);
}

.aboutUsFAQSection h5 {
  font-family: var(--font-outfit-sans), Arial, Helvetica, sans-serif;
  color: var(--secondary);
}

@media (max-width: 1200px) and (min-width: 744px) {
  .heroTitle {
    font-size: 52px;
  }
}

@media (max-width: 743px) {
  .heroTitle {
    font-size: 32px;
  }
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bannerOverlayGradient);
}

.bannerOverlayToLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bannerOverlayGradient);
}

.bannerOverlay h3 {
  color: var(--white);
}

.bannerOverlay p {
  color: var(--white);
}

.bannerOverlayToLeft h3 {
  color: var(--white);
}

.bannerOverlayToLeft p {
  color: var(--white);
}
