.heroPictureSection {
  position: relative;
  background-color: var(--grey);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--z-index-hero-video-overlay);
}

.heroTitle {
  color: var(--white);
  text-align: center;
  max-width: 80%;
}

.heroDescription {
  color: var(--white);
  text-align: center;
  max-width: 75%;
}

/* Section 1 */

.competitionsFeaturesSection {
  background-color: var(--white);
}

/* Section 2 */

.competitionsBannerSection {
  background-color: var(--primary);
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bannerOverlay h3 {
  color: var(--white);
}

.bannerOverlay p {
  color: var(--white);
}

/* Section 3 */

.fcaPreviewSection {
  background-color: var(--black);
}

.fcaPreviewSection h2 {
  color: var(--secondary);
}

/* Section 4 */

.competitionsRegisterSection {
  background-color: var(--white);
}

/* Section 5 */

.competitionsRewardsSection {
  background-color: var(--secondary);
}

.competitionsRewardsSection h2 {
  color: var(--white);
}

.competitionsRewardsSection p {
  color: var(--white);
}

/* Section 6 */

.competitionsHowToSection {
  background-color: var(--white);
}

.competitionsHowToSection h2 {
  color: var(--primary);
}

.competitionsHowToSection h3 {
  color: var(--white);
}

/* FCA Page CSS */

/* FCABanner Section */

.fcaBannerSection {
  background-color: var(--primary);
}

/* FCAUpcoming Section */

.fcaUpcomingSection {
  position: relative;
  background-color: var(--grey);
}

.fcaUpcomingSection h2 {
  color: var(--white);
}

.fcaUpcomingSection p {
  color: var(--white);
}

.fcaUpcomingContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.fcaUpcomingBackdropOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--z-index-hero-video-overlay);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

/* FCARewards Section */

.fcaRewardsSection {
  background-color: var(--secondary);
}

.fcaRewardsSection h2 {
  color: var(--white);
}

.fcaRewardsSection p {
  color: var(--white);
}

@media (max-width: 1200px) and (min-width: 744px) {
}

@media (max-width: 743px) {
  .heroTitle {
    max-width: 100%;
  }

  .heroDescription {
    max-width: 90%;
  }
}
