.heroVideoSection {
  position: relative;
  height: var(--viewportHeightHeroDesktop);
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% center;
  z-index: var(--z-index-hero-video);
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--z-index-hero-video-overlay);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroTitle {
  color: var(--white);
  text-align: center;
  max-width: 80%;
}

.heroDescription {
  color: var(--white);
  text-align: center;
  max-width: 75%;
}

.studentSharkTankBanner {
  background-color: var(--white);
}

.studentSharkTankHowTo {
  background-color: var(--secondaryLight);
}
.studentSharkTankHowTo h3 {
  color: var(--white);
}

.studentSharkTankRegister {
  background-color: var(--secondaryLight);
}

.studentSharkTankRewards {
  background-color: var(--white);
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bannerOverlayGradient);
}

.bannerOverlay h3 {
  color: var(--white);
}

.bannerOverlay p {
  color: var(--white);
}
